<div class="todo">
    <label for="add-task">{{ selectedTodo.id === '' ? 'Add': 'Edit'}} Task Title</label>
    <input type="Enter task here ..." [value]="todoTitle()" id="add-task" #todoTaskInput (input)="todoTitle.set(todoTaskInput.value)"/>
    <button (click)="selectedTodo.id === '' ? addTodoTask() : updateTodoTask()">{{ selectedTodo?.id === '' ? 'Add': 'Update'}}</button>
    <h1>Todo List</h1>
    <ng-container *ngFor="let todo of (todos$ | async)">
         <div class="todo-record">
            <p>{{todo?.id}} - {{todo.title}}</p>
            <button (click)="editPatchTodoTask(todo)">Edit</button>
            <button (click)="deleteTodoTask(todo.id)">Delete</button>
         </div>
    </ng-container>
    
</div>
<router-outlet />
